*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body{
  background-color: #e8e8e8;
}

.content {
  height: auto;
  width: 100vw;
  padding: 1rem;
  border: 4px solid white;
  background-color: white;
  margin: auto 0;
}

.content h1{
  color: rgb(83, 97, 205);
}

@media screen and (min-width: 992px){
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}

.pagination{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loadMoreButton{
  border: none;
  background-color: rgb(83, 99, 219);
  color: aliceblue;
  padding: 3px 15px;
  font-size: .825rem;
  border-radius: 4px;
  transition: transform 0.2s;
}

#loadMoreButton:hover{
  cursor: pointer;
  filter: brightness(95%);
  transform: scale(1.1);
}
